html, body {
  margin: 0;
  color: #606060;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.menu img {
  max-width: 8rem;
  max-height: 10rem;
}
.menu  ul{
  list-style: none;
}
.menu ul li a {
  color: #606060;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #fff;
  
}
.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #00ffff;
  padding: 10px 20px 0px;

}
.header {
  background-color: aquamarine;
  min-height: 150px;
  margin-left: 20px;
}
.content {
  background-color: aquamarine;
  min-height: 150px;
  margin-left: 20px;
}
.footer {
  background-color: aquamarine;
  min-height: 50px;
  text-align: center;
}